$jumbogradients: linear-gradient(90deg, rgba(245, 159, 189, 1) 0%, rgba(0, 250, 197, 1) 100%);
$green: #80ed99;

@mixin margenes($top, $bottom) {
    margin-top: $top;
    margin-bottom: $bottom;
}

.jumbotron {
    /* background-color: rgb(245, 159, 189);*/
    background: $jumbogradients;
    position: relative;
    @include margenes(50px, 10px);
}

.footer {
    background-color: $green;
    padding: 10px 10px 0 10px;
    @include margenes(10px, 0px);
}

.card-hotel {
    flex: 1 200px;
    @include margenes(10px, 0px);
}

.btn-reserva {
    width: 100%;
    background-color: #3B945E;
    border-radius: 0px;
}

.footer-address-icon {
    padding-right: 10px;
}

.tab-content {
    padding-top: 10px;
}

h1 {
    font-family: Aclonica;
    font-size: 50px;
    text-align: center;
    color: white;
    @include margenes(40px, 0px);
    text-shadow: 2px 2px 8px #FF0000;
}