.jumbotron {
  /* background-color: rgb(245, 159, 189);*/
  background: linear-gradient(90deg, #f59fbd 0%, #00fac5 100%);
  position: relative;
  margin-top: 50px;
  margin-bottom: 10px; }

.footer {
  background-color: #80ed99;
  padding: 10px 10px 0 10px;
  margin-top: 10px;
  margin-bottom: 0px; }

.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px; }

.btn-reserva {
  width: 100%;
  background-color: #3B945E;
  border-radius: 0px; }

.footer-address-icon {
  padding-right: 10px; }

.tab-content {
  padding-top: 10px; }

h1 {
  font-family: Aclonica;
  font-size: 50px;
  text-align: center;
  color: white;
  margin-top: 40px;
  margin-bottom: 0px;
  text-shadow: 2px 2px 8px #FF0000; }
